<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977325198232-nmohe7iqro2b4juiie8jtjeav1t6icso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977325198232-nmohe7iqro2b4juiie8jtjeav1t6icso</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>977325198232-rh53caqv1nqlk6se7a0nl0ffp4qnfn1c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjXNwDkOO3sch4_yU5UxllRAHuLKv-kns</string>
	<key>GCM_SENDER_ID</key>
	<string>977325198232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthBot</string>
	<key>PROJECT_ID</key>
	<string>healthbot-14d3b</string>
	<key>STORAGE_BUCKET</key>
	<string>healthbot-14d3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977325198232:ios:b72238c72dc105ab19b9ed</string>
</dict>
</plist>